body {
  background-color: #c12d08;
}

h1 {
  font-weight: 700;
  font: size 55px;
  margin:10px;
  margin-bottom: 100px;

}

.container {
  background: rgb(177, 42, 42);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

input {
   widith:100;
}
.todo-container 
{
  text-align: ;
}